<%= yield %>
<div class="article">
    <h3>Ny hemsida!</h3>

    <p>Sed et elit id lectus pretium feugiat. Nunc molestie diam in lectus iaculis, sed dictum ipsum facilisis.
        In pellentesque nec ligula et vehicula. Mauris viverra justo nunc, sit amet accumsan enim egestas sed.
        Mauris fermentum non elit vestibulum egestas. Morbi facilisis pellentesque elementum.
        Nam quam lacus, congue nec varius eget, sollicitudin quis magna.</p>
</div>

<div class="article">
    <h3>Ny fotbollsplan!</h3>

    <p>Sed et elit id lectus pretium feugiat. Nunc molestie diam in lectus iaculis, sed dictum ipsum facilisis.
        Nam quam lacus, congue nec varius eget, sollicitudin quis magna.
        In pellentesque nec ligula et vehicula. Mauris viverra justo nunc, sit amet accumsan enim egestas sed.
        Mauris fermentum non elit vestibulum egestas. Morbi facilisis pellentesque elementum.</p>
</div>

<div class="article">
    <h3>God jul önskar Ystad Friskola</h3>

    <p>Sed et elit id lectus pretium feugiat. Nunc molestie diam in lectus iaculis, sed dictum ipsum facilisis.
        Nam quam lacus, congue nec varius eget, sollicitudin quis magna.
        In pellentesque nec ligula et vehicula. Mauris viverra justo nunc, sit amet accumsan enim egestas sed.
        Mauris fermentum non elit vestibulum egestas. Morbi facilisis pellentesque elementum.</p>
</div>