<%= yield %>
<h3>Resa till Rom</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel semper magna.
    Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur accumsan nisl a nisl aliquam,
    sit amet euismod dui aliquam. Aliquam ornare sapien id cursus bibendum. Etiam facilisis vel turpis eget
    pulvinar.
    Ut sit amet tortor eu nulla dignissim dignissim id congue elit. Nunc in magna vitae neque dapibus rutrum et et
    quam.
    Proin vestibulum augue felis, id suscipit lorem tempor at.

    Pellentesque in lectus non justo iaculis porttitor nec ut est.
    Ut lobortis efficitur laoreet. Pellentesque placerat tortor libero. Donec condimentum,
    tellus at commodo sodales, nibh nulla aliquet elit, vel semper nisl risus ut orci.
    Etiam sit amet libero eros. Ut tempus urna sapien, fermentum sodales est dapibus in.
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam hendrerit,
    libero vel aliquet mattis, mi lorem luctus dolor, sed placerat tortor est nec sem.
</p>