<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Ystad Friskola</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>

<div></div>

<div id="button_header">
    <div class="header_button" id="klass_7_button">
        <a class="header_button_link" href="klass_7.html">Klass 7</a>
    </div>
    <div class="header_button" id="klass_8_button">
        <a class="header_button_link" href="klass_8.html">Klass 8</a>
    </div>
    <div class="header_button" id="klass_9_button">
        <a class="header_button_link" href="klass_9.html">Klass 9</a>
    </div>
</div>

<div id="main_content">
    <%= yield %>
</div>

<div id="main_footer">

</div>
</body>
</html>