<h1 id="page_header">Lov och specialdagar</h1>
<div class="lov_article">
    <h3>Studiedag 04/02-2015</h3>

    <p>Aliquam consectetur odio non mollis feugiat. Maecenas aliquam lacinia risus et luctus. Interdum et malesuada
        fames ac ante ipsum primis in faucibus. Curabitur placerat blandit lectus, ut volutpat nisi vestibulum in. Nulla
        blandit bibendum consequat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
        egestas. Mauris vel suscipit lorem.</p>
</div>

<div class="lov_article">
    <h3>Jullov!</h3>

    <p>Aliquam consectetur odio non mollis feugiat. Maecenas aliquam lacinia risus et luctus. Interdum et malesuada
        fames ac ante ipsum primis in faucibus. Curabitur placerat blandit lectus, ut volutpat nisi vestibulum in. Nulla
        blandit bibendum consequat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
        egestas. Mauris vel suscipit lorem.</p>
</div>