<div id="om_skolan_link_holder">

    <div class="om_skolan_image_link">
        <a href="inriktningar.html">
            <img src="img/">
        </a>
    </div>

    <div class="om_skolan_image_link">
        <a href="personal.html">
            <img src="img/">
        </a>
    </div>
    
</div>