<h1 id="page_h1">Personal</h1>

<div class="personal_info">
    <div class="sprite sprite-personal_picture"></div>

    <h1>Eva Persson</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis dolor at mi consequat ornare.</p>
    <p>Mail: <a>evpe@ystadfriskola.se</a></p>
    <p>Telefon: 076-2345-531</p>
</div>

<div class="personal_info">
    <div class="sprite sprite-personal_picture"></div>

    <h1>Göran Hedlund</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis dolor at mi consequat ornare.</p>
    <p>Mail: <a>gohe@ystadfriskola.se</a></p>
    <p>Telefon: 076-2345-531</p>
</div>

<div class="personal_info">
    <div class="sprite sprite-personal_picture"></div>

    <h1>August Svenningson</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis dolor at mi consequat ornare.</p>
    <p>Mail: <a>ausv@ystadfriskola.se</a></p>
    <p>Telefon: 076-2345-531</p>
</div>

<div class="personal_info">
    <div class="sprite sprite-personal_picture"></div>

    <h1>Björn Svensson</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis dolor at mi consequat ornare.</p>
    <p>Mail: <a>bjsv@ystadfriskola.se</a></p>
    <p>Telefon: 076-2345-531</p>
</div>

<div class="personal_info">
    <div class="sprite sprite-personal_picture"></div>

    <h1>Albert Hammarsköld</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis dolor at mi consequat ornare.</p>
    <p>Mail: <a>alha@ystadfriskola.se</a></p>
    <p>Telefon: 076-2345-531</p>
</div>