<%= yield %>
<h1 id="page_header">Schema</h1>

<p id="schema_link"> Tryck på här för att <a
        href="http://www.novasoftware.se/webviewer/(S(qrf2vq55iouud4nhlanjnijk))/design1.aspx?schoolid=89280&code=234523">öppna schema</a>
</p>

<!--Embed for schema, creates a box containg the webpage. Really slow to loading-->
<embed id="schema_box"
       src="http://www.novasoftware.se/webviewer/(S(qrf2vq55iouud4nhlanjnijk))/design1.aspx?schoolid=89280&code=234523">
</embed>