body {
    margin: 0;
    background-color: whitesmoke;
}
h1, h2, h3, h4, h5, h6, a, p {
    font-family: Arial;
    color: black;
    text-decoration: none;
}
#webpage_holder {
    position: relative;
}
#cookie_acceptance {
    width: 1256px;
    height: 100px;
    border:2px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
}
#header {
    width: 1260px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}
#header_buttons {
    width: 1260px;
    height: 41px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#header_buttons div  {
    width: 100px;
    height: 40px;
    margin-left: 60px;
    padding-bottom: 10px;
    border: 1px solid orangered;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: whitesmoke;
    text-align: center;
    position: relative;
    float: left;
    z-index: 2;
}
#header_buttons h4 {
    top: 10px;
}
#klass_7_button:hover {
    background-color: lightblue;
}
#klass_8_button:hover {
    background-color: lightblue;
}
#klass_9_button:hover {
    background-color: lightblue;
}
#om_skolan_button:hover {
    background-color: lightblue;
}
#schema_button:hover {
    background-color: lightblue;
}
#matsedel_button:hover {
    background-color: lightblue;
}
#lov_button:hover {
    background-color: lightblue;
}
#main_content {
    width: 700px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}
#footer {
    width: 800px;
    height: 100px;
    border-top: 2px solid dimgrey;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    position: relative;
}
#footer a {
    text-decoration: underline;
}
#footer_info {
    width: 250px;
    height: auto;
    margin-top: 20px;
    margin-right: 0;
}
#footer_info a{
    color: blue;
}
#colorblind_button {
    width: 85px;
    height: 30px;
    line-height: 1px;
    border-radius: 10px;
    margin-top: 20px;
    padding: 2px 5px;
    float: right;
    text-align: center;
    background-color: dimgrey;
}
#colorblind_button p {
    color: whitesmoke;
}
#not_colorblind_button {
    width: 100px;
    height: 30px;
    line-height: 1px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 2px 5px;
    float: right;
    text-align: center;
    background-color: orangered;
}
#not_colorblind_button p {
    color: whitesmoke;
}
.article {
    width: 640px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-bottom: 1px solid dimgrey;
}
.klass_article {
    width: 650px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid dimgrey;
}
#om_skolan_info {
    width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid dimgrey;
}
#om_skolan_link_holder {
    width: 620px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.om_skolan_image_link img {
    width: auto;
    height: auto;
    border-radius: 15px;
    float: left;
    margin: 10px 30px;
}
