body {
    margin: 0;
    background-color: whitesmoke;
    overflow-x: auto;
    /* Makes the whole page relative */
    position: relative;
}

h2, h3, h4, h5, h6 {
    font-family: Arial, sans-serif;
    color: #00B295;
    text-decoration: none;
    cursor: default;
}

h1, p {
    font-family: Arial, sans-serif;
    color: black;
    text-decoration: none;
    cursor: default;
}

a {
    font-family: Arial, sans-serif;
    color: black;
    text-decoration: none;
}

/* Spritesheet */
.sprite {
    background: url(../img/spritesheet.png) no-repeat;
    display: block;
}

#header {
    width: 100%;
    height: 100%;
}

.sprite-ystad_friskola_logo {
    width: 1260px;
    height: 150px;
    background-position: -5px -715px;
    margin: 0 auto;
    border: 10px solid #ff4900;
    border-bottom: 3px solid #ff4900;
    border-top: none;
    position: relative;
}

#nav_bar {
    width: 1260px;
    height: 41px;
    margin: 0 auto;
    position: relative;
}

#nav_bar div {
    width: 100px;
    height: 40px;
    margin-left: 45px;
    padding-bottom: 10px;
    border: 3px solid #ff4900;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: whitesmoke;
    text-align: center;
    position: relative;
    float: left;
    z-index: 2;
}

#nav_bar h4 {
    color: black;
}

#nav_bar h4 {
    top: 10px;
}

#index_button:hover {
    background-color: #00B295;
}

#klass_7_button:hover {
    background-color: #00B295;
}

#klass_8_button:hover {
    background-color: #00B295;
}

#klass_9_button:hover {
    background-color: #00B295;
}

#om_skolan_button:hover {
    background-color: #00B295;
}

#schema_button:hover {
    background-color: #00B295;
}

#matsedel_button:hover {
    background-color: #00B295;
}

#lov_button:hover {
    background-color: #00B295;
}

#main_content {
    width: 700px;
    height: auto;
    margin: 50px auto 0;
    position: relative;
    z-index: 1;
}

#footer {
    width: 800px;
    height: 100px;
    border-top: 2px solid dimgrey;
    margin: 40px auto 0;
    position: relative;
}

#footer_info {
    width: 250px;
    height: auto;
    margin-top: 20px;
    margin-right: 0;
}

#footer_info a {
    text-decoration: underline;
    color: #00B295;
}

#colorblind_button {
    width: 85px;
    height: 30px;
    line-height: 1px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    padding: 2px 5px;
    float: right;
    text-align: center;
    background-color: dimgrey;
}

#colorblind_button p {
    color: whitesmoke;
}

#not_colorblind_button {
    width: 100px;
    height: 30px;
    line-height: 1px;
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 2px 5px;
    float: right;
    text-align: center;
    background-color: #ff4900;
}

#not_colorblind_button p {
    color: whitesmoke;
}

#page_header {
    color: #00B295;
    text-decoration: underline;
    text-align: center;
}

.article {
    width: 640px;
    height: 150px;
    margin: 0 auto 10px;
    padding: 5px 10px;
    border-bottom: 1px solid dimgrey;
}

.klass_article {
    width: 650px;
    height: auto;
    margin: 0 auto;
    border-bottom: 1px solid dimgrey;
}

#om_skolan_info {
    width: 600px;
    height: auto;
    margin: 0 auto;
    border-bottom: 1px solid dimgrey;
}

#om_skolan_link_holder {
    width: 620px;
    height: 270px;
    margin: 20px auto 0;
    position: relative;
}

/* Image on Om skolan page */
.sprite-inriktningar {
    width: 250px;
    height: 250px;
    background-position: -5px -5px;
    float: left;
    margin: 10px 30px;
    border-radius: 10px
}

/* Image for Om skolan page */
.sprite-skolpersonal {
    width: 250px;
    height: 250px;
    background-position: -945px -455px;
    float: left;
    margin: 10px 30px;
    border-radius: 10px;
}

.sprite-skolpersonal a {
    width: 100%;
    height: 100%;
}

.personal_info {
    width: 600px;
    height: 200px;
    padding: 3px;
    margin: 20px auto 0;
}
/* Image for Personal page */
.sprite-personal_picture {
    width: 180px;
    height: 180px;
    background-position: -945px -265px;
    margin: 10px;
    float: left;
}

.personal_info a {
    color: #00B295;
}

.personal_info a:hover {
    text-decoration: underline;
}

.inriktningar_text_box {
    width: 100px;
    height: 100px;
    background-color: #ff4900;
}

#linkdiv_holder {
    width: 600px;
    height: 200px;
    margin: 0 auto;
}

#linkdiv_holder h2 {
    padding-top: 65px;
    color: black;
}

#linkdiv_holder a {
    color: #00B295;
}

#linkdiv {
    width: 200px;
    height: 180px;
    margin: 10px;
    float: left;
    border: 2px ridge dimgrey;
    border-radius: 5px;
    padding-left: 5px;
}

/* The CSS for all containers in Inriktningar */
#container1, #container2, #container3, #container4 {
    width: 600px;
    height: 500px;
    padding: 10px;
    margin: 0 auto;
    border: 2px solid #ff4900;
    border-radius: 5px
}

/* Image in Inriktning container */
.sprite-inriktningar_image_boxning {
    width: 460px;
    height: 250px;
    background-position: -265px -5px;
    margin: 0 auto;
}

/* Image in Inriktning container */
.sprite-inriktningar_image_fotboll {
    width: 460px;
    height: 250px;
    background-position: -735px -5px;
    margin: 0 auto;
}

/* Image in Inriktning container */
.sprite-inriktningar_image_innebandy {
    width: 460px;
    height: 250px;
    background-position: -5px -265px;
    margin: 0 auto;
}

/* Image in Inriktning container */
.sprite-inriktningar_image_landsvagscycling {
    width: 460px;
    height: 250px;
    background-position: -475px -265px;
    margin: 0 auto;
}

#schema_box {
    width: 700px;
    height: 550px;
    margin: 0 auto;
    border: 2px ridge dimgrey;
}

#schema_link {
    text-align: center;
}

#schema_link a {
    color: #00B295;
}

#schema_link a:hover {
    text-decoration: underline;
}

#matsedel_box {
    width: 700px;
    height: auto;
}

.matsedel_weeks {
    width: 248px;
    height: auto;
    border: 2px ridge dimgrey;
    border-radius: 10px;
    padding: 10px 6px;
    margin: 40px auto;
}

.lov_article {
    width: 500px;
    height: 200px;
    padding: 3px;
    margin: 20px auto 0;
    border-bottom: 2px ridge dimgrey;
}
